/* .App {
  text-align: center;
} */

*,
::before,
::after {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(218, 218, 218);
}

.App {
  display: flex;
  /* width: 100%; */
}
/* top to down */

/* sidebar */
aside.side {
  /* background: rgb(41, 41, 41);
  width: 20vw;
  height: 100vh; */
  transition: all 0.5s linear;
}

.sideBar {
  background: rgb(41, 41, 41);
  width: 20vw;
  height: 100vh;
  transition: all 0.5s linear;
}

.hide__sidebar {
  width: 10vw;
}

/* navbar and navbar container */

.log {
  display: flex;
  /* flex-direction: column; */
  align-items: center;

  /* justify-content: center; */
}

.navBar__container {
  padding: 20px;
  background-color: rgb(22, 22, 22);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.float {
  cursor: pointer;
  color: rgb(110, 110, 110);
  transition: all 0.4s;
}

.float:hover {
  transform: translate(-30%);
  font-size: 20px;
}

#rotate__float {
  transform: rotate(180deg);
}

/* .logo {
} */

.hide__log {
  display: none;
}

.logo,
.title {
  font-size: 20px;
  font-weight: 700;
  color: rgb(110, 110, 110);
  text-transform: uppercase;
  /* margin: auto; */
}

.title {
  margin-left: 10px;
}

.sidebar__links {
  padding: 10px;
  margin: 5px 10px;
  list-style-type: none;
}

.sidebar__icons {
  color: rgb(85, 85, 85);
  margin-right: 10px;
  /* font-size: 1.3rem; */
}

.side__links {
  color: rgb(207, 207, 207);
  text-transform: capitalize;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
}
/* end of navbar */

.navBar__container {
  color: white;
}

.search {
  /* margin: 20px 0px; */
  margin: 40px 0px;
  text-align: center;
}

.sidebar__search {
  background: rgb(22, 22, 22);
  padding: 10px;
  border-radius: 20px;
  /* text-align: center; */
}

#searchID {
  background: none;
  border: none;
  color: rgb(190, 190, 190);
  outline: none;
  width: 60%;
}

.sidebar__search__btn {
  background: none;
  border: none;
  /* text-align: center; */
  /* padding: 10px 5px; */
}

.sidebar__search__icon {
  /* margin-right: 5px; */
  color: rgb(66, 66, 66);
  font-weight: 300;
  font-size: 17px;
  /* text-align: center; */
  cursor: pointer;
}

.link {
  color: red;
  text-decoration: none;
  padding: 10px;
}

/* main */

/* main header */
main {
  flex: 100 100;
}

.main__header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(255, 255, 255);
}

.left__items {
  display: flex;
  align-items: center;
}

.btn__center {
  text-align: center;
  text-transform: capitalize;
  border: none;
  background: none;
  display: flex;

  padding: 10px;
}

.plus {
  text-align: center;
  margin-right: 10px;
}

.new__documents__btn {
  background-color: rgb(56, 56, 248);
  color: rgb(223, 223, 223);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.user__profile {
  display: flex;
  align-items: center;
}

.name {
  text-transform: capitalize;
  padding-right: 10px;
}
/* end of main header */

/* main home body */
.select__template__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
  padding: 10px;
}

.select__temp {
  font-size: 23px;
  color: #333;
  font-weight: 500;
}

.right__search {
  display: flex;
  align-items: center;
}

.right__label {
  background: rgb(192, 191, 191);
  border-radius: 20px;
}

.right__search__input {
  background: none;
  outline: none;
  border: none;
  padding: 10px;
  color: #333;
  /* margin-right: 30px; */
  width: 20vw;
}

.search__icon__btn {
  border: none;
  background: none;
  margin: 10px 10px;
}

.search__icon__color {
  color: rgb(104, 104, 104);
  font-size: 17px;
  text-align: center;
  margin: auto;
  cursor: pointer;
}

.right__new__doc {
  margin-left: 20px;
}

.template__field {
  background-color: white;
  height: 65vh;
  margin: 10px 20px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}
/* end of main home body */

/* end of main */

/* footer */
.footer {
  background: white;
  /* position: fixed; */
  /* bottom: 0; */
  /* width: 95%; */
  height: 40px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.contacts {
  display: flex;
  /* margin-left: 30px; */
}

.copyright {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 800;
  color: rgb(92, 92, 92);
}

.terms {
  margin-right: 10px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 800;
  color: rgb(92, 92, 92);
  /* padding: 10px; */
}

@media screen and (max-width: 668px) {
  .sideBar {
    width: 10vw;
  }

  .log {
    display: none;
  }

  .search {
    display: none;
  }

  .links_title:not(.sidebar__icons) {
    display: none;
  }

  .sidebar__icons {
    font-size: 4rem;
  }
}
